/*project colors*/
$white: #fff;
$black: #000;
$blue-darkest: #1d2631;
$blue-dark: #283645;
$grey-light: #f2f2f2;
$grey: #e5e5e5;
$pink: #d22856;

/*global colors rules*/
$font-color: $blue-dark;
$bg--body: $white;
$link-color: $pink;
$link-color--hover: $black;

/*global font rules*/
$font: "Open Sans", "Arial", sans-serif;
$font-size: 14px;
$line-height: 24px;

/*viewport sizes*/
$tablets: 700px;
$desktops: 980px;
