/*project colors*/
$white: #fff;
$black: #000;
$blue-darkest: #1d2631;
$blue-dark: #283645;
$grey-light: #f2f2f2;
$grey: #e5e5e5;
$grey-darker: #dddfe0;
$pink: #d22856;
$green: #2aab6d;
$green-darker: #1c9b5e;

/*global colors rules*/
$font-color: $blue-dark;
$bg--body: $white;
$link-color: $pink;
$link-color--hover: $black;

/*global font rules*/
$font: "Open Sans", "Arial", sans-serif;
$font-size: 14px;
$line-height: 24px;

/*sizes and breakpoints*/
$phones: 320px;
$phones-max: 659px;
$tablets: 660px;
$tablets-max: 959px;
$desktops: 960px;

/*retina*/
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
