.advantages {
  padding-top: 39px;

  @media (min-width: $tablets) {
    padding-top: 50px;
  }

  @media (min-width: $desktops) {
    padding-top: 68px;
  }
}

.advantages__lead {
  @include container;
  margin-bottom: 31px;

  @media (min-width: $tablets) {
    margin-bottom: 44px;
  }

  @media (min-width: $desktops) {
    margin-bottom: 0;
  }
}

.advantages__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  margin: 0;
  text-align: center;

  @media (min-width: $tablets) {
    font-size: 40px;
    line-height: 48px;
  }

  @media (min-width: $desktops) {
    font-size: 50px;
    line-height: 60px;
  }
}

.advantages__subtitle {
  display: block;
  margin-top: 27px;

  @media (min-width: $tablets) {
    margin-top: 0;
    max-width: 355px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $desktops) {
    max-width: 500px;
  }
}

.advantages__wrapper {
  @include angled-bg ($height: 31px, $top: 0);
  position: relative;
  padding-top: 80px;

  @media (min-width: $tablets) {
    @include angled-bg ($height: 51px, $top: 0);
    padding-top: 0;
  }

  @media (min-width: $desktops) {
    @include angled-bg ($height: 74px, $top: 87px);
    padding-top: 75px;
  }
}

.advantages__inner {
  @include container;
  text-align: center;

  @media (min-width: $tablets) {
    padding-top: 75px;
  }

  @media (min-width: $desktops) {
    padding-top: 0;
  }
}

.advantages__items {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-width: $tablets) {
    padding-left: 50%;
    text-align: left;
    padding-bottom: 40px;
  }

  @media (min-width: $desktops) {
    flex-direction: row;
    padding: 0;
    text-align: center;
    top: 12px;
  }

  &::after {
    content: "";
    position: relative;
    display: block;
    bottom: 0;
    height: 277px;
    width: 158px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: center top;

    @media (min-width: $tablets) {
      position: absolute;
      top: 0;
      left: 0;
      margin-top: -68px;
    }

    @media (min-width: $desktops) {
      display: none;
    }
  }
}

.advantages__item {
  margin-bottom: 29px;

  @media (min-width: $tablets) {
    margin-bottom: 33px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $desktops) {
    position: relative;
    width: 300px;
    padding: 357px 30px 67px;
    margin-right: 20px;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 30px;
    top: -12px;

    &:nth-child(3n) {
      margin-right: 0;
    }

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 186px;
      height: 302px;
      left: 50%;
      top: 0px;
      transform: translateX(-50%);
      background-color: $pink;
      z-index: 2;
    }
  }
}

.advantages__item p {
  margin: 0;
}

.advantages__name {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: $black;
  margin-top: 0;
  margin-bottom: 14px;

  @media (min-width: $tablets) {
    margin-bottom: 13px;
  }

  @media (min-width: $desktops) {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 24px;
  }
}

.advantages__research {

  @media (max-width: $phones-max) {
    @include visually-hidden;
  }

  @media (min-width: $tablets) {
    padding-top: 60px;
    min-height: 335px;
  }

  @media (min-width: $desktops) {
    background-color: $grey-light;
    padding-top: 0px;
    padding-bottom: 68px;
    min-height: 412px;
  }
}

.advantages__research-inner {
  @include container;
  display: flex;
}

.advantages__research-lead {
  @include reset-child-margins;
  position: relative;
  padding-left: 50%;
  padding-top: 40px;

  @media (min-width: $desktops) {
    padding-top: 91px;
    padding-left: 366px;
    padding-right: 40px;
    font-size: 18px;
    line-height: 30px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 1px;
    width: 238px;
    height: 276px;
    background-color: $pink;

    @media (min-width: $desktops) {
      top: 0;
      left: 1px;
      width: 298px;
      height: 343px;
    }
  }
}

.advantages__research-lead p {
  margin-top: 0;
  margin-bottom: 10px;

  @media (min-width: $desktops) {
    margin-bottom: 30px;
  }
}

.advantages__research-title {
  margin-bottom: 11px;
  font-size: 30px;
  line-height: 36px;
  color: $black;

  @media (min-width: $tablets) {
    max-width: 175px;
  }

  @media (min-width: $desktops) {
    margin-bottom: 20px;
    max-width: inherit;
  }
}

.advantages__research-link {
  color: $pink;

  &:hover {
    text-decoration: none;
  }
}
