.contacts-map {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 225px;
  background-image: url(../img/bg-map-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: center -220px;

  @media (min-resolution: $retina-dpi),
        (min-resolution: $retina-dppx) {
    background-image: url(../img/bg-map-mobile@2x.jpg);
    background-size: 320px auto;
  }

  @media (min-width: $tablets) {
    min-height: 420px;
    background-image: url(../img/bg-map-tablet@1x.jpg);
    background-position: center -349px;
  }

  @media (min-width: $tablets) and (min-resolution: $retina-dpi),
        (min-width: $tablets) and (min-resolution: $retina-dppx) {
    background-image: url(../img/bg-map-tablet@2x.jpg);
    background-size: 700px auto;
  }

  @media (min-width: $desktops) {
    min-height: 561px;
    background-image: url(../img/bg-map-desktop@1x.jpg);
    background-position: center -277px;
  }

  @media (min-width: $desktops) and (min-resolution: $retina-dpi),
        (min-width: $desktops) and (min-resolution: $retina-dppx) {
    background-image: url(../img/bg-map-desktop@2x.jpg);
    background-size: 1200px auto;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 33px;
    background-image: url("../img/bg-triangle-white-footer.svg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 33px;
    z-index: 1;

    @media (min-width: $tablets) {
      height: 68px;
      background-size: 100% 68px;
    }

    @media (min-width: $desktops) {
      height: 102px;
      background-size: 100% 102px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 36px;
    height: 36px;
    transform: translate(-50%, -50%);
    background-image: url(../img/icon-map-marker.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
  }

  &--map-loaded::after {
    display: none;
  }
}
