.contest {
  padding-top: 45px;

  @media (min-width: $tablets) {
    padding-top: 92px;
  }
}

.contest__inner {
  @include container;

  @media (max-width: $phones-max) {
    width: 100%;
    padding: 0;
  }
}

.contest__lead {
  @include container;
  @include reset-child-margins;
  line-height: 30px;
  text-align: center;

  @media (min-width: $tablets) {
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 60px;
    font-size: 18px;
    line-height: 30px;
  }

  @media (min-width: $desktops) {
    padding-left: 80px;
    padding-right: 80px;
    margin-bottom: 68px;
  }
}

.contest__lead-fill-form {
  display: none;

  @media (min-width: $tablets) {
    display: inline;
  }
}
