.contacts {
  padding-top: 41px;
  text-align: center;

  @media (min-width: $tablets) {
    padding-top: 45px;
  }

  @media (min-width: $desktops) {
    padding-top: 65px;
  }
}

.contacts__inner {
  @include container;
}

.contacts__lead {
  margin-bottom: 33px;

  @media (min-width: $tablets) {
    margin-bottom: 43px;
  }

  @media (min-width: $desktops) {
    margin-bottom: 56px;
  }
}

.contacts__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  margin: 0;

  @media (min-width: $tablets) {
    font-size: 40px;
    line-height: 48px;
  }

  @media (min-width: $desktops) {
    font-size: 50px;
    line-height: 60px;
  }
}

.contacts__subtitle {
  display: block;
}

.contacts__items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 17px;

  @media (min-width: $tablets) {
    padding-bottom: 28px;
    flex-direction: row;
  }

  @media (min-width: $desktops) {
    padding-bottom: 20px;
  }
}

.contacts__item {
  margin-bottom: 23px;

  @media (min-width: $tablets) {
    width: 300px;
    margin-bottom: 0;

    &--phone {
      margin-right: 10px;
    }

    &--email {
      margin-left: 10px;
    }

    &--address {
      width: 220px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 45px;
    }
  }

  @media (min-width: $desktops) {
    &--address {
      margin-top: 0;
      order: 2;
    }

    &--email {
      order: 3;
    }
  }
}

.contacts__item-lead {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;

  @media (min-width: $tablets) {
    margin-bottom: 5px;
  }

  @media (min-width: $desktops) {
    margin-bottom: 21px;
  }
}

.contacts__item-info {
  color: $pink;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;

  &[href]:hover,
  &[href]:focus {
    color: $black;
    text-decoration: underline;
  }
}

.contacts__map {
  position: relative;
  height: 200px;
  background-image: url(../img/bg-map-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;

  @media (min-resolution: $retina-dpi),
        (min-resolution: $retina-dppx) {
    background-image: url(../img/bg-map-mobile@2x.jpg);
    background-size: 320px auto;
  }

  @media (min-width: $tablets) {
    height: 372px;
    background-image: url(../img/bg-map-tablet@1x.jpg);
    background-position: center -349px;
  }

  @media (min-width: $tablets) and (min-resolution: $retina-dpi),
        (min-width: $tablets) and (min-resolution: $retina-dppx) {
    background-image: url(../img/bg-map-tablet@2x.jpg);
    background-size: 700px auto;
  }

  @media (min-width: $desktops) {
    height: 502px;
    background-image: url(../img/bg-map-desktop@1x.jpg);
    background-position: center -277px;
  }

  @media (min-width: $desktops) and (min-resolution: $retina-dpi),
        (min-width: $desktops) and (min-resolution: $retina-dppx) {
    background-image: url(../img/bg-map-desktop@2x.jpg);
    background-size: 1200px auto;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 36px;
    height: 35px;
    transform: translate(-50%, -50%);
    margin-top: 11px;
    background-image: url(../img/icon-map-marker.svg);
    background-repeat: no-repeat;
    background-position: center bottom;

    @media (min-width: $tablets) {
      margin-top: 24px;
    }

    @media (min-width: $desktops) {
      margin-top: 31px;
    }
  }
}
