.contest-form__body {
  display: flex;
  flex-direction: column;

  @media (max-width: $phones-max) {
    padding: 0;
  }
}

.contest-form__fieldset {
  @media (max-width: $phones-max) {
    &:nth-child(2n) {
      background-color: $grey-light;
    }
  }
}

.contest-form__controls {
  @media (max-width: $phones-max) {
    @include container-phones(20px);
    text-align: center;
  }
}

.contest-form__submit-btn {
  width: 280px;

  @media (min-width: $tablets) {
    width: 300px;
  }
}

.contest-form__note {
  line-height: 30px;
  text-transform: uppercase;

  @media (max-width: $phones-max) {
    margin-top: 43px;
  }
}

.contest-form__note sup {
  color: $pink;
}
