.contest-form__body {
  @include container;
  display: flex;
  flex-direction: column;

  @media (max-width: $tablets) {
    width: 100%;
    padding: 0;
  }
}

.contest-form__fieldset {
  @media (max-width: $tablets) {
    margin-left: -20px;
    margin-right: -20px;

    &:nth-child(2n) {
      background-color: $grey-light;
    }
  }
}

.contest-form__controls {
  @include container;

  @media (max-width: $tablets) {
    text-align: center;
  }
}

.contest-form__note {
  line-height: 30px;
  text-transform: uppercase;

  @media (max-width: $tablets) {
    margin-top: 43px;
  }
}

.contest-form__note sup {
  color: $pink;
}
