.copyright {
  font-size: 0;
}

.copyright__develop-txt {
  font-size: $font-size;
  display: inline-block;
  vertical-align: middle;
}

.copyright__owner {
  display: inline-block;
  vertical-align: middle;
  margin-left: 14px;
  width: 27px;
  height: 34px;
}
