.copyright {
  font-size: 0;
  margin-top: 34px;

  @media (min-width: $tablets) {
    flex-shrink: 0;
    margin-top: 14px;
    margin-bottom: 9px;
    width: 150px;
    text-align: right;
  }

  @media (min-width: $desktops) {
    width: 170px;
    margin-top: 15px;
  }
}

.copyright__develop-txt {
  font-size: $font-size;
  display: inline-block;
  vertical-align: top;
  padding-top: 3px;

  @media (min-width: $desktops) {
    padding-top: 5px;
    font-size: 18px;
    line-height: 18px;
  }
}

.copyright__owner {
  display: inline-block;
  vertical-align: middle;
  margin-left: 14px;
  width: 27px;
  height: 34px;
}

.copyright__academy {
  fill: $pink;

  &:hover {
    fill: $blue-dark;
  }

  &:active {
    opacity: 0.3;
  }
}
