.field-checkbox {
  position: relative;
}

.field-checkbox__label {
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  margin: 0;
  line-height: 30px;
  padding-top: 5px;
  padding-right: 0;
  padding-bottom: 4px;
  padding-left: 70px;
  cursor: pointer;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 39px;
    height: 39px;
    background-color: $white;
    border: 2px solid $grey;
    border-radius: 2px;
    z-index: 1;
  }
}

.field-checkbox__input {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 39px;
  height: 39px;
  z-index: 0;
  outline: none;
}
