.form {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 15px;
  overflow: hidden;

  @media (min-width: $tablets) {
    padding-bottom: 50px;
  }

  @media (min-width: $desktops) {
    padding-bottom: 0;
  }
}

.form__body {
  margin: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: $desktops) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.form__fieldset {
  position: relative;
  margin: 0;
  left: 0;
  padding: 34px 0 42px;
  border: none;
  max-width: 100%;

  @media (min-width: $tablets) {
    padding: 0;
    margin-bottom: 65px;
    border: 2px solid $grey;
    border-radius: 2px;
  }

  @media (min-width: $desktops) {
    margin-bottom: 64px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--fullname {

    @media (max-width: $phones-max) {
      padding-top: 24px;
    }

    @media (min-width: $tablets) {
      order: -3;
      padding: 0;
      border: 0;
    }

    @media (min-width: $desktops) {
      margin-top: 5px;
      width: 435px;
    }
  }

  &--apps {
    background-color: $grey-light;

    @media (min-width: $tablets) {
      background-color: transparent;
      order: -2;
    }

    @media (min-width: $desktops) {
      width: 435px;
    }
  }

  &--contacts {
    padding-top: 30px;

    @media (min-width: $tablets) {
      order: -1;
      padding-top: 0;
    }

    @media (min-width: $desktops) {
      width: 100%;
    }
  }

  &--achievements {
    background-color: $grey-light;

    @media (min-width: $tablets) {
      background-color: transparent;
    }

    @media (min-width: $desktops) {
      width: 100%;
    }
  }

  &--emotions {
    padding-bottom: 0;

    @media (min-width: $desktops) {
      width: 100%;
    }
  }
}

.form__fieldset-inner {
  @media (max-width: $phones-max) {
    @include container-phones(20px);
  }
}

.form__title {
  width: 100%;
  padding-top: 4px;
  padding-bottom: 16px;
  text-align: center;
  color: $pink;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;

  @media (max-width: $phones-max) {
    @include container-phones(40px);
  }

  @media (min-width: $tablets) {
    position: relative;
    top: -10px;
    left: 50%;
    display: inline-block;
    vertical-align: top;
    padding: 0 32px;
    margin: 0;
    width: auto;
    background-color: $white;
    transform: translateX(-50%);
  }

  &--contacts {
    @media (max-width: $phones-max) {
      display: none;
    }
  }

  &--apps {
    @media (min-width: $tablets) {
      padding: 0 24px;
    }
  }

  &--emotions {
    @media (min-width: $tablets) {
      padding: 0 38px;
    }
  }
}

.form__text-fields {
  &--contacts {
    @media (min-width: $tablets) {
      padding: 22px 58px 0;
    }

    @media (min-width: $desktops) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-top: 19px;
    }
  }
}

.form__field-text {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;

  &--fullname {
    @media (min-width: $tablets) {
      flex-direction: row;
      align-items: center;
      margin-bottom: 52px;
    }

    @media (min-width: $desktops) {
      margin-bottom: 54px;
    }
  }

  &--contacts {
    @media (min-width: $tablets) {
      position: relative;
      margin: 0;
      padding-bottom: 28px;
    }

    @media (min-width: $desktops) {
      width: 375px;
      padding-bottom: 13px;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.form__text-label + .form__input-wrapper {
  margin-top: 6px;

  @media (min-width: $tablets) {
    margin-top: 0;
  }
}

.form__input-wrapper {
  position: relative;

  &--contacts {
    @media (min-width: $tablets) {
      padding-right: 62px;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 62px;
        height: 100%;
        border: 0;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }
  }

  &--email {
    @media (min-width: $tablets) {
      &::before {
        background: $grey url(../img/icon-mail.svg) no-repeat center;
        background-size: 18px 13px;
      }
    }
  }

  &--phone {
    @media (min-width: $tablets) {
      &::before {
        background: $grey url(../img/icon-phone.svg) no-repeat center;
        background-size: 20px 19px;
      }
    }
  }
}

.form__text-label {
  margin-left: 23px;
  text-transform: uppercase;
  color: $pink;
  line-height: 30px;

  &--fullname {
    @media (min-width: $tablets) {
      margin-left: 0;
      margin-right: 20px;
    }
  }

  &--contacts {
    @media (min-width: $tablets) {
      margin-left: 20px;
      margin-top: 10px;
      order: 2;
    }
  }
}

.form__text-label + .form__text-input {
  margin-top: 6px;

  @media (min-width: $tablets) {
    margin-top: 0;
  }
}

.form__text-input {
  display: block;
  box-sizing: border-box;
  padding:  14px 20px 15px;
  width: 100%;
  border: 2px solid $grey;
  border-radius: 2px;
  font-family: $font;
  font-size: 18px;
  line-height: 30px;
  color: $font-color;
  outline: none;

  &--contacts {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &:hover {
    border-color: $blue-dark;
    border-radius: 2px;
  }

  &:active,
  &:focus {
    border-color: $pink;
    border-radius: 2px;
  }

  &::placeholder {
    color: $font-color;
    opacity: 1;
  }
}

.form__checkbox-fields {
  padding-top: 23px;

  @media (min-width: $tablets) {
    padding: 27px 58px 47px;
  }

  @media (min-width: $desktops) {
    padding-top: 28px;
    padding-bottom: 56px;
  }

  &--achievements {
    @media (min-width: $desktops) {
      display: flex;
      width: 100%;
    }
  }
}

.form__field-checkbox {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 43px;
  }
}

.form__checkbox-wrapper {
  @media (max-width: $desktops) {
    &:not(:last-child) {
      margin-bottom: 43px;
    }
  }

  @media (min-width: $desktops) {
    flex-grow: 0;


    &:not(:last-child) {
      margin-right: 56px;
    }
  }
}

.form__checkbox-label {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  margin: 0;
  line-height: 30px;
  padding-top: 5px;
  padding-right: 0;
  padding-bottom: 4px;
  padding-left: 70px;
  cursor: pointer;

  @media (min-width: $tablets) {
    padding-left: 59px;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 39px;
    height: 39px;
    background-color: $white;
    border: 2px solid $grey;
    border-radius: 2px;
    z-index: 1;
  }

  &:hover::before {
    border-color: $blue-dark;
  }

  &:active::before {
    border-color: $pink;
  }
}

.form__checkbox-input {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 39px;
  height: 39px;
  z-index: 0;
  outline: none;
  opacity: 0;
}

.form__checkbox-input:checked ~ .form__checkbox-label::after {
  content: "";
  position: absolute;
  top: 11px;
  left: 9px;
  width: 22px;
  height: 16px;
  background: url(../img/icon-check.svg) no-repeat top left;
  background-size: 22px 16px;
  z-index: 1;
}

.form__radio-fields {
  padding-top: 20px;

  @media (min-width: $tablets) {
    padding: 30px 58px 52px;
  }

  &--apps {
    @media (min-width: $desktops) {
      padding: 30px 74px 52px;
    }
  }
}

.form__field-radio {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 36px;
  }
}

.form__radio-label {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  margin: 0;
  line-height: 30px;
  padding-top: 5px;
  padding-right: 0;
  padding-bottom: 4px;
  padding-left: 70px;
  cursor: pointer;

  @media (min-width: $tablets) {
    padding-left: 59px;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 39px;
    height: 39px;
    background-color: $white;
    border: 2px solid $grey;
    z-index: 1;
    border-radius: 50%;
  }

  &:hover::before {
    border-color: $blue-dark;
  }

  &:active::before {
    border-color: $pink;
  }
}

.form__radio-input {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 39px;
  height: 39px;
  z-index: 0;
  outline: none;
  opacity: 0;
}

.form__radio-input:checked ~ .form__radio-label::after {
  content: "";
  display: block;
  position: absolute;
  top: 12px;
  left: 12px;
  width: 15px;
  height: 15px;
  background-color: $pink;
  z-index: 2;
  border-radius: 50%;
}

.form__textarea-fields {
  @media (min-width: $tablets) {
    padding: 22px 58px 51px;
  }

  @media (min-width: $desktops) {
    padding: 18px 58px 42px;
  }
}

.form__textarea {
  padding:  14px 20px 14px;
  margin: 0;
  display: block;
  border: 2px solid $grey;
  width: 100%;
  border-radius: 2px;
  font-family: $font;
  font-size: 18px;
  line-height: 30px;
  color: $font-color;
  outline: none;
  resize: none;

  &--emotions {
    height: 201px;

    @media (min-width: $tablets) {
      height: 193px;
    }

    @media (min-width: $desktops) {
      height: 128px;
    }
  }

  &:hover {
    border-color: $blue-dark;
  }

  &:active,
  &:focus {
    border-color: $pink;
  }

  &::placeholder {
    color: $font-color;
    opacity: 1;
  }
}

.form__footer {
  display: flex;
  flex-direction: column;
  padding-top: 48px;

  @media (max-width: $phones-max) {
    @include container-phones(20px);
    text-align: center;
  }

  @media (min-width: $tablets) {
    flex-direction: row;
    align-items: center;
    padding-top: 67px;
  }

  @media (min-width: $desktops) {
    padding-top: 65px;
  }
}

.form__submit-btn {
  width: 100%;
  flex-shrink: 0;
  margin-right: 20px;

  @media (min-width: $tablets) {
    width: 300px;
  }
}

.form__note {
  margin-top: 35px;
  line-height: 30px;
  text-transform: uppercase;

  @media (min-width: $tablets) {
    margin-top: 0;
    margin-left: auto;
  }
}

.form__note-symbol {
  color: $pink;
}


.form__note-purpose {
  display: none;

  @media (min-width: $desktops) {
    display: inline;
  }
}
