.form-box {
  margin: 0;
  padding: 40px 0;
  border: 0;
  position: relative;
}

.form-box__legend {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  float: left;
  width: 100%;
  text-align: center;
  color: $pink;
  line-height: 18px;
  text-transform: uppercase;
}

.form-box__legend + * {
  clear: both;
}

.form-box__checkbox-fields {
  padding-top: 19px;
}

.form-box__field-checkbox:not(:last-child) {
  margin-bottom: 43px;
}

.form-box__radio-fields {
  padding-top: 16px;
}

.form-box__field-radio:not(:last-child) {
  margin-bottom: 36px;
}

.form-box__textarea {
  width: 100%;
  height: 201px;
  resize: none;
}

@media (max-width: $phones-max) {

  .form-box__inner {
    @include container-phones (20px);
  }

  .form-box__field-text:not(:last-child) {
    margin-bottom: 15px;
  }

  .form-box__text-input {
    display: block;
    width: 100%;
  }

  .form-box__text-label + .form-box__text-input {
    margin-top: 5px;
  }
}
