.logo-pink-white {
  fill: $white;
  color: $pink;
}

.logo-pink-white__stars,
.logo-pink-white__star {
  fill: currentColor;
}

.logo-pink-white:hover {
  fill: $pink;
  color: $white;
}

.logo-pink-white:active {
  fill: $white;
  color: $pink;
  opacity: 0.3;
}

.logo-pink-white--mobile {
  width: 75px;
  height: 22px;
  @media (min-width: $tablets) {
    display: none;
  }
}

.logo-pink-white--tablet {
  width: 147px;
  height: 40px;
  display: none;

  @media (min-width: $tablets) {
    display: block;
  }

  @media (min-width: $desktops) {
    display: none;
  }
}

.logo-pink-white--desktop {
  width: 147px;
  height: 40px;
  display: none;

  @media (min-width: $desktops) {
    display: block;
  }
}
