.main-nav__items {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-top: 1px solid #000;
  @include reset-list;
}

.main-nav__item a {
  display: block;
  margin: 0;
  background-color: $blue-dark;
  color: $white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  padding: 16px 20px;
  box-shadow: inset 0 1px 0 rgba(#fff, 0.15),
              inset 0 -1px 0 #000;

  &[href]:hover,
  &[href]:focus {
    color: $pink;
  }

  &[href]:active {
    color: rgba($white, 0.3);
  }
}

.main-nav__trigger {
  position: absolute;
  top: 21px;
  right: 19px;
  width: 50px;
  height: 24px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.main-nav--closed .main-nav__trigger span {
  display: block;
  width: 50px;
  height: 4px;
  background-color: #fff;
  border-radius: 1px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 50px;
    height: 4px;
    background-color: #fff;
    border-radius: 1px;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}

.main-nav--opened .main-nav__trigger span {
  &::before,
  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 10px;
    width: 29px;
    height: 4px;
    background-color: #fff;
    border-radius: 1px;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav__trigger:hover span,
.main-nav__trigger:hover span::before,
.main-nav__trigger:hover span::after {
  background-color: $pink;
}

.main-nav__trigger:active span,
.main-nav__trigger:active span::before,
.main-nav__trigger:active span::after {
  background: rgba($pink, 0.3);
}

@media (max-width: $tablets-max) {
  .main-nav--closed .main-nav__items {
    display: none;
  }

  .main-nav--nojs .main-nav__trigger {
    display: none;
  }

  .main-nav--nojs .main-nav__items {
    display: block;
  }
}

@media (min-width: $tablets) {
  .main-nav__trigger {
    top: 44px;
  }
}

@media (min-width: $desktops) {
  .main-nav {
    margin-left: auto;
    width: 760px;
    padding-top: 35px;
    padding-bottom: 35px;
    flex-shrink: 1;
  }

  .main-nav__trigger {
    display: none;
  }

  .page-header__wrapper {
    @include container;
  }

  .main-nav__items {
    flex-wrap: wrap;
    flex-direction: row;
    border-top: none;
    justify-content: flex-end;
  }

  .main-nav__item {
    margin-left: 79px;

    &:first-child{
      margin-left: 0;
    }

    &--active {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: -2px;
        left: 0;
        height: 2px;
        background: $white;
      }
    }
  }

  .main-nav__item a {
    background-color: transparent;
    border: none;
    box-shadow: none;
    text-transform: none;
    line-height: 18px;
    font-weight: 400;
    padding: 11px 0;

  }
}
