.page-header {
  position: absolute;
  background-color: rgba($black, 0.3);
  color: $white;
  width: 100%;
  z-index: 2;

  @media (min-width: $tablets) {
    min-height: 110px;
  }

  &--full {
    position: relative;
    background-color: $blue-dark;

    @media (min-width: $desktops) {
      position: absolute;
      background-color: rgba($black, 0.3);
    }
  }
}

.page-header__wrapper {
  @media (min-width: $desktops) {
    @include container;
    display: flex;
  }
}

.page-header__logo {
  height: 22px;
  display: inline-block;
  vertical-align: top;
  margin-top: 22px;
  margin-bottom: 22px;
  margin-left: 20px;
  margin-right: 20px;

  @media (min-width: $tablets) {
    height: 40px;
    margin-top: 27px;
    margin-bottom: 43px;
  }
}

.page-header__logo img {
  @media (min-width: $tablets) {
    padding-top: 17px;
  }
}
