.page-header {
  background-color: $blue-dark; /* background-color: rgba($black, 0.3); */
  color: $white;
  width: 100%;
  min-height: 70px;
}

.page-header__logo {
  height: 22px;
  display: inline-block;
  vertical-align: top;
  margin-top: 22px;
  margin-bottom: 26px;
  margin-left: 20px;
  margin-right: 20px;
}
