.page-footer {
  @include container;
  padding-top: 40px;
  padding-bottom: 40px;

  @media (max-width: $phones-max) {
    text-align: center;

    &--index {
      display: none;
    }
  }

  @media (min-width: $tablets) {
    display: flex;
    justify-content: space-between;
    padding-top: 36px;
    padding-bottom: 37px;
  }

  @media (min-width: $desktops) {
    padding-top: 70px;
    padding-bottom: 72px;
  }
}

.page-footer__logo {
  display: inline-block;
  vertical-align: top;
}

.page-footer__social {
  margin-top: 33px;

  @media (min-width: $tablets) {
    margin-top: 3px;
    margin-right:18px;
  }

  @media (min-width: $desktops) {
    margin-left: 12px;
    margin-right: 0;
  }
}

.page-footer__copyright {
  margin-top: 40px;

  @media (min-width: $tablets) {
    margin-top: 14px;
  }

  @media (min-width: $desktops) {
    margin-top: 14px;
  }
}
