.page-footer {
  @include container;
  padding-top: 40px;
  padding-bottom: 40px;

  @media (max-width: $phones-max) {
    text-align: center;

    &--index {
      display: none;
    }
  }

  @media (min-width: $tablets) {
    display: flex;
    justify-content: space-between;
  }
}

.page-footer__logo {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 40px;
}

.page-footer__social {
  margin-bottom: 40px;
}
