.page-header {
  position: absolute;
  background-color: rgba($black, 0.3);
  color: $white;
  width: 100%;
  z-index: 2;
}

.page-header__logo {
  height: 22px;
  display: inline-block;
  vertical-align: top;
  margin-top: 22px;
  margin-bottom: 22px;
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width: $tablets-max) {
  .page-header--full {
    position: relative;
    background-color: $blue-dark;
  }
}

@media (min-width: $tablets) {
  .page-header {
    min-height: 110px;
  }

  .page-header__logo {
    height: 40px;
    margin-top: 27px;
    margin-bottom: 43px;
  }

  .page-header__logo img {
    padding-top: 17px;
  }
}

@media (min-width: $desktops) {
  .page-header__wrapper {
    display: flex;
  }
}
