.pagination {
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
  font-size: 0;
  text-align: center;
  background-color: inherit;
}

.pagination__item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-left: 1px;
  margin-right: 1px;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 6px;
    height: 6px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba($blue-dark, 0.3);
    border-radius: 50%;
  }

  &:hover::before {
    background-color: rgba($blue-dark, 0.6);
  }

  &:active::before {
    background-color: rgba($blue-dark, 0.1);
  }

  &‐‐active {
    cursor: default;
  }

  &‐‐active::before {
    content: "";
    position: absolute;
    display: block;
    width: 12px;
    height: 12px;
    top: 50%;
    left: 50%;
    border: 3px solid $blue-dark;
    background-color: transparent;
    transform: translate(-50%,-50%);
    border-radius: 50%;
  }

  &‐‐active:hover::before {
    background-color: transparent;
  }
}
