.pagination {
  height: 12px; /*временно, для разметки*/
  background-color: $black; /*временно, для разметки*/
  max-width: 200px; /*временно, для разметки*/
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
