.panorama {
  position: relative;

  @media (max-width: $phones-max) {
    @include container-phones;
  }
}

.panorama__inner {
  @include container;
}

.panorama__rubric {
  position: absolute;
  top: 0;
  right:0;
  width: 100%;
}

.panorama__rubric-inner {
  @include container;
  text-align: right;
}

.panorama__rubric-name {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  color: $white;
  background-color: $pink;
  text-transform: uppercase;
  padding: 6px 20px;
}
