.photo-post {
  display: flex;
  flex-direction: column;
}

.photo-post__image img {
  display: block;
}

.photo-post__body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 17px 22px 26px;
  background-color: $grey-light;
}

.photo-post__author {
  font-weight: 700;
}

.photo-post__text {
  @include reset-child-margins;
  flex-grow: 1;
}

.photo-post__time {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 300;
}

.photo-post__action {
  margin-top: 18px;
}

.photo-post__stats {
  font-size: 12px;
  text-transform: uppercase;
  color: $pink;
}
