.photo-editor {
  background-color: $grey-light;

  @media (min-width: $desktops) {
    background-color: transparent;
  }
}

.photo-editor__inner {
  @include container;

  @media (max-width: $phones-max) {
    width: 100%;
    padding: 0;
  }
}

.photo-editor__form {

  @media (min-width: $tablets) {
    display: flex;
  }

  @media (min-width: $desktops) {
    padding-left: 80px;
    padding-right: 60px;
    background-color: $grey-light;
  }
}

.photo-editor__image {
  padding-top: 20px;
  width: 280px;

  @media (max-width: $phones-max) {
    @include container-phones(20px);
  }

  @media (min-width: $tablets) {
    width: 300px;
    padding-top: 57px;
    padding-bottom: 54px;
  }

  @media (min-width: $desktops) {
    padding-bottom: 57px;
  }
}

.photo-editor__image img {
  display: block;
  margin: 0;

  @media (min-width: $tablets) {
    width: 300px;
    height: 400px;
  }
}

.photo-editor__fields {
  display: flex;
  flex-direction: column;
  padding-bottom: 41px;

  @media (min-width: $tablets) {
    padding-top: 40px;
    padding-bottom: 54px;
    margin-left: 45px;
    width: 275px;
    flex-grow: 1;
  }

  @media (min-width: $desktops) {
    padding-bottom: 57px;
    margin-left: 90px;
  }
}

.photo-editor__tools-wrapper {
  padding-top: 40px;

  @media (max-width: $phones-max) {
    @include container-phones(40px);
  }

  @media (min-width: $tablets) {
    padding: 0;
  }
}

.photo-editor__tools {
  @include reset-list;
  font-size: 0;

  @media (max-width: $phones-max) {
    position: relative;
    padding-bottom: 72px;
  }
}

.photo-editor__tool {
  @media (max-width: $phones-max) {
    display: inline-block;
    vertical-align: top;
  }

  @media (min-width: $tablets) {
    display: flex;
    align-items: center;
    box-shadow: inset 0 -1px $grey-darker;
    padding-top: 25px;
    padding-bottom: 24px;
  }

  @media (min-width: $desktops) {
    padding-top: 12px;
    padding-bottom: 13px;
  }

  &--contrast {
    @media (min-width: $tablets) {
      padding-top: 22px;
      padding-bottom: 24px;
    }

    @media (min-width: $desktops) {
      padding-top: 10px;
      padding-bottom: 12px;
    }
  }
}

.photo-editor__tab {
  padding-left: 16px;
  padding-right: 16px;

  @media (max-width: $phones-max) {
    display: inline-block;
    vertical-align: top;
  }

  @media (min-width: $tablets) {
    padding-left: 3px;
    padding-right: 1px;
  }

  @media (min-width: $desktops) {
    padding: 0;
  }
}

.photo-editor__tool-name {
  display: inline-block;
  vertical-align: top;
  width: 48px;
  height: 48px;
  background-color: $pink;

  @media (min-width: $tablets) and (max-width: $tablets-max) {
    width: 24px;
    height: 24px;
  }
}

.photo-editor__control {
  @media (max-width: $phones-max) {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 29px;
    padding-bottom: 29px;
  }

  @media (min-width: $tablets) {
    position: relative;
    padding-left: 27px;
    padding-right: 18px;
    width: 100%;
  }

  @media (min-width: $desktops) {
    padding-right: 30px;
    padding-left: 44px;
  }
}

.photo-editor__range {
  position: relative;
  height: 14px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.photo-editor__range-scale {
  height: 2px;
  background-color: $blue-dark;
}

.photo-editor__range-value {
  height: 2px;
  width: 50%;
}

.photo-editor__range-btn {
  position: absolute;
  display: inline-block;
  width: 14px;
  height: 14px;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid $pink;
  border-radius: 50%;
  background-color: $white;
  cursor: pointer;
}

.photo-editor__btns {
  position: relative;
  padding-top: 40px;

  @media (max-width: $phones-max) {
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: -1px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $grey-darker;
    }
  }

  @media (min-width: $tablets) {
    margin-top: auto;
  }
}

.photo-editor__btns-inner {
  @media (max-width: $phones-max) {
    @include container-phones(20px);
  }

  @media (min-width: $tablets) {
    display: flex;
    flex-direction: column;
    padding-left: 2px;
    padding-right: 13px;
  }

  @media (min-width: $desktops) {
    flex-direction: row;
    padding: 0;
    width: 100%;
  }
}

.photo-editor__upload-btn {
  width: 100%;
  margin-bottom: 12px;

  @media (min-width: $tablets) {
    margin-bottom: 25px;
  }

  @media (min-width: $desktops) {
    margin-bottom: 0;
    width: 183px;
  }
}

.photo-editor__cancel-btn {
  width: 100%;

  @media (min-width: $desktops) {
    width: 183px;
    margin-left: auto;
  }
}
