.social {
  font-size: 0;
}

.social__link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 51px;
  height: 51px;
  border: 3px solid rgba($blue-dark, 0.1);
  border-radius: 50%;
  margin-left: 6px;
  margin-right: 6px;

  &:hover:not(:active) {
    border-color: $blue-dark;
  }
}

.social__link:active .social__icon {
  opacity: 0.3;
}

.social__icon {
  fill: $pink;
  position: absolute;

  &--twitter {
    top: 15px;
    left: 14px;
    width: 18px;
    height: 15px;
  }

  &--facebook {
    top: 12px;
    left: 18px;
    width: 9px;
    height: 19px;
  }

  &--youtube {
    top: 15px;
    left: 17px;
    width: 15px;
    height: 14px;
  }
}
