.social {
  font-size: 0;
  margin-top: 35px;

  @media (min-width: $tablets) {
    margin-top: 0;
  }

  @media (min-width: $desktops) {
    margin-left: 8px;

    &--index {
      margin-left: 0;
    }
  }
}

.social__link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 51px;
  height: 51px;
  border: 3px solid rgba($blue-dark, 0.1);
  border-radius: 50%;
  margin: 5px 6px;

  @media (min-width: $tablets) {
    margin-top: 3px;
    margin-bottom: 3px;
  }

  @media (min-width: $desktops) {
    margin-top: 4px;
    margin-bottom: 4px;
  }

  &:hover:not(:active) {
    border-color: $blue-dark;
  }
}

.social__link:active .social__icon {
  opacity: 0.3;
}

.social__icon {
  fill: $pink;
  position: absolute;

  &--twitter {
    top: 15px;
    left: 14px;
    width: 18px;
    height: 15px;
  }

  &--facebook {
    top: 12px;
    left: 18px;
    width: 9px;
    height: 19px;
  }

  &--youtube {
    top: 15px;
    left: 17px;
    width: 15px;
    height: 14px;
  }
}
